#app {
  display: flex;
}

#left {
  /* background-color: blue; */
  width: 100%;
  max-width: 150px;
  height: 100vh;
}
#center {
  /* background-color: red; */
  width: calc(100% - 150px);
  height: 100vh;
}
